<%- include("header") -%>
    <div class="box" id="heading">
       <h1><%=listTitle%></h1>
    </div>
  <ul>
    <div class="box"> 

     <% newListItems.forEach(function(ele){ %>
      <form  class="form"action="/delete" method="POST">
        <div class="item">
            <input type="checkbox" name="delItem" value="<%=ele._id%>" onchange="this.form.submit()">
            <p><%= ele.name %></p>
        </div>
         <input type="hidden" name="hiddenItem" value="<%=listTitle%>"></input>
      </form>  
     <%})%> 
    
      <form class="form" action="/" method="post">
        <input type="text" name="additem" placeholder="new-item" autocomplete="off">
        <button type="submit" name="list" value="<%=listTitle%>">+</button> 
      </form>
    </div>  

<%- include("footer") -%>




